<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<desy-header>
  <desy-header-subnav>Desy Angular starter</desy-header-subnav>
</desy-header>

<body>
  <main id="content" class="container mx-auto px-base" tabindex="0">
    <div class="prose">
      <div class="pb-lg"></div>
      <h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="desyangularstarter_0"></a>desy-angular-starter</h1>
      <span class="has-line-data gap-sm flex" data-line-start="1" data-line-end="5"><img src="https://img.shields.io/badge/version-9.0.0-blue.svg?cacheSeconds=2592000" alt="Version">
        <img src="https://img.shields.io/badge/npm-%3E%3D8.3-blue.svg" alt="Prerequisite">
        <img src="https://img.shields.io/badge/node-%3E%3D16.14.0-blue.svg" alt="Prerequisite">
        <a href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12"><img src="https://img.shields.io/badge/License-EUPL--1.2-yellow.svg" alt="License: EUPL--1.2"></a></span>
      <blockquote>
        <p class="has-line-data" data-line-start="6" data-line-end="8">desy-angular-starter is a boilerplate project to build webapps for<br>
          Gobierno de Aragón government, using desy-angular npm package as dependecy.</p>
      </blockquote>
      <h2 class="code-line" data-line-start=9 data-line-end=10 ><a id="Purpose_9"></a>Purpose</h2>
      <p class="has-line-data" data-line-start="10" data-line-end="12">desy-angular-starter provides a ready-to-use base project to start building new<br>
        angular webapps using design system (DESY) through desy-angular npm package.</p>
      <h2 class="code-line" data-line-start=13 data-line-end=14 ><a id="What_is_it_based_on_13"></a>What is it based on?</h2>
      <p class="has-line-data" data-line-start="14" data-line-end="16">The project is based on desy-angular library, which in turn is based on the<br>
        desy-html library. Both libraries are published in the npm repository:</p>
      <ul>
        <li class="has-line-data" data-line-start="16" data-line-end="17"><a href="https://www.npmjs.com/package/desy-angular">desy-angular</a></li>
        <li class="has-line-data" data-line-start="17" data-line-end="19"><a href="https://www.npmjs.com/package/desy-html">desy-html</a></li>
      </ul>
      <h2 class="code-line" data-line-start=19 data-line-end=20 ><a id="Get_started_19"></a>Get started</h2>
      <ol>
        <li class="has-line-data" data-line-start="20" data-line-end="21">Create a new project based on desy-angular-starter</li>
      </ol>
      <ul>
        <li class="has-line-data" data-line-start="21" data-line-end="25">Bitbucket
          <ol>
            <li class="has-line-data" data-line-start="22" data-line-end="23">Go to <a href="https://bitbucket.org/sdaragon/desy-angular-starter/">https://bitbucket.org/sdaragon/desy-angular-starter/</a></li>
            <li class="has-line-data" data-line-start="23" data-line-end="24">Click on the […] icon on the top menu and select “Fork this repository”</li>
            <li class="has-line-data" data-line-start="24" data-line-end="25">Choose your workspace, project and name to create your new repository</li>
          </ol>
        </li>
        <li class="has-line-data" data-line-start="25" data-line-end="32">Github
          <ol>
            <li class="has-line-data" data-line-start="26" data-line-end="27">Go to <a href="https://github.com/new">https://github.com/new</a> and create your new repository</li>
            <li class="has-line-data" data-line-start="27" data-line-end="28">On the next page, click on “Import code”</li>
            <li class="has-line-data" data-line-start="28" data-line-end="31">Copy the desy-angular-starter project URL<br>
              <code>https://bitbucket.org/sdaragon/desy-angular-starter/</code><br>
              and paste it on the form</li>
            <li class="has-line-data" data-line-start="31" data-line-end="32">Click on “Begin import”</li>
          </ol>
        </li>
        <li class="has-line-data" data-line-start="32" data-line-end="37">Local repository
          <ol>
            <li class="has-line-data" data-line-start="33" data-line-end="37">Clone desy-angular-starter with your new project name<pre><code class="has-line-data" data-line-start="35" data-line-end="37" class="language-sh">git <span class="hljs-built_in">clone</span> https://bitbucket.org/sdaragon/desy-angular-starter.git your-project-name
</code></pre>
            </li>
          </ol>
        </li>
      </ul>
      <ol start="2">
        <li class="has-line-data" data-line-start="37" data-line-end="38">Clone it</li>
      </ol>
      <ul>
        <li class="has-line-data" data-line-start="38" data-line-end="39">Bitbucket: <code>git clone https://bitbucket.org/your-workspace/your-project.git</code></li>
        <li class="has-line-data" data-line-start="39" data-line-end="40">Github: <code>git clone https://github.com/your-workspace/your-project.git</code></li>
      </ul>
      <ol start="3">
        <li class="has-line-data" data-line-start="40" data-line-end="42">Rename all ‘desy-angular-starter’ occurrences by your project name using your IDE,<br>
          or manually checking in the following files:</li>
      </ol>
      <ul>
        <li class="has-line-data" data-line-start="42" data-line-end="43">angular.json</li>
        <li class="has-line-data" data-line-start="43" data-line-end="44">karma.conf.js</li>
        <li class="has-line-data" data-line-start="44" data-line-end="45">package.json</li>
        <li class="has-line-data" data-line-start="45" data-line-end="46">index.html</li>
      </ul>
      <ol start="4">
        <li class="has-line-data" data-line-start="46" data-line-end="50">Install dependencies<pre><code class="has-line-data" data-line-start="48" data-line-end="50" class="language-sh">npm install
</code></pre>
        </li>
        <li class="has-line-data" data-line-start="50" data-line-end="54">Run development server<pre><code class="has-line-data" data-line-start="52" data-line-end="54" class="language-sh">npm run start
</code></pre>
        </li>
        <li class="has-line-data" data-line-start="54" data-line-end="57">Clean the placeholder content from <code>app.component.html</code> to get started with<br>
          your own content</li>
      </ol>
      <h2 class="code-line" data-line-start=57 data-line-end=58 ><a id="FAQ_57"></a>FAQ</h2>
      <h3 class="code-line" data-line-start=59 data-line-end=60 ><a id="How_to_add_a_component_59"></a>How to add a component?</h3>
      <p class="has-line-data" data-line-start="60" data-line-end="63">If desy-angular module (or the sub-module you are interested in) is imported in<br>
        your module, you can use its components directly in your templates.<br>
        Every desy-angular component is prefixed by “desy”. For example:</p>
      <pre><code class="has-line-data" data-line-start="64" data-line-end="66" class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">desy-button</span> [<span class="hljs-attribute">id</span>]=<span class="hljs-value">"'example'"</span>&gt;</span>Click me<span class="hljs-tag">&lt;/<span class="hljs-title">desy-button</span>&gt;</span>
</code></pre>
      <h3 class="code-line" data-line-start=67 data-line-end=68 ><a id="Where_to_find_component_examples_to_build_my_app_67"></a>Where to find component examples to build my app?</h3>
      <p class="has-line-data" data-line-start="68" data-line-end="71">In desy-angular documentation you can find some usage examples of every<br>
        component:<br>
        <a href="https://paega2.atlassian.net/wiki/spaces/AreaUsuariosIntegradores/pages/2996699584/desy-angular">https://paega2.atlassian.net/wiki/spaces/AreaUsuariosIntegradores/pages/2996699584/desy-angular</a></p>
      <p class="has-line-data" data-line-start="72" data-line-end="74">In addition, there is a demo website where you can see every component in action and<br>
        modify its properties dynamically: <a href="https://desy.aragon.es/desy-angular">https://desy.aragon.es/desy-angular</a></p>
      <h3 class="code-line" data-line-start=76 data-line-end=77 ><a id="How_to_write_a_desyhtml_example_with_desyangular_76"></a>How to write a desy-html example with desy-angular?</h3>
      <p class="has-line-data" data-line-start="77" data-line-end="80">Every component in desy-html has its corresponding component in desy-angular,<br>
        so you can create very similar structures in desy-html than in desy-angular.<br>
        For example, the following tooltip component from <a href="https://desy.aragon.es/examples-spinner.html">desy-html examples</a>:</p>
      <pre><code class="has-line-data" data-line-start="81" data-line-end="86" class="language-html">{{ '{' }}% from "components/spinner/_macro.spinner.njk" import componentSpinner %"{{ '}' }}
{{ '{{' }} componentSpinner({{ '{' }}
  "classes": "text-primary-base"
{{ '}' }})  {{ '\}\}' }}
</code></pre>
      <p class="has-line-data" data-line-start="86" data-line-end="87">could be written with desy-angular as follows:</p>
      <pre><code class="has-line-data" data-line-start="88" data-line-end="90" class="language-html"><span class="hljs-tag">&lt;<span class="hljs-title">desy-spinner</span> [<span class="hljs-attribute">classes</span>]=<span class="hljs-value">"'text-primary-base'"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">desy-spinner</span> &gt;</span>
</code></pre>
      <p class="has-line-data" data-line-start="90" data-line-end="96">In this example, desy-angular has the same parameter ‘classes’ than its corresponding in<br>
        desy-html, but that’s not a rule. In addition, desy-angular allows output events,<br>
        content projection or even other sub-components (like row and cell components for tables),<br>
        so keep desy-angular documentation in hand to develop with this library properly.<br>
        You can find it here:<br>
        <a href="https://paega2.atlassian.net/wiki/spaces/AreaUsuariosIntegradores/pages/2996699584/desy-angular">https://paega2.atlassian.net/wiki/spaces/AreaUsuariosIntegradores/pages/2996699584/desy-angular</a></p>
      <h2 class="code-line" data-line-start=98 data-line-end=99 ><a id="Troubleshooting_98"></a>Troubleshooting</h2>
      <h3 class="code-line" data-line-start=99 data-line-end=100 ><a id="About_angular_versions_99"></a>About angular versions</h3>
      <p class="has-line-data" data-line-start="100" data-line-end="103">desy-angular-starter has desy-angular as dependency, which requires any angular<br>
        version compatible with angular 16.0. If you are trying to use desy-angular in<br>
        a project with angular 14 or angular 15, you will have compatibility issues.</p>
      <h3 class="code-line" data-line-start=104 data-line-end=105 ><a id="Ive_found_a_bug_How_can_I_solve_it_104"></a>I’ve found a bug. How can I solve it?</h3>
      <p class="has-line-data" data-line-start="105" data-line-end="107">All DESY products are officially maintained by SDA Servicios Digitales de Aragón.<br>
        If you think you’ve found a bug, let us know by contacting to <a href="mailto:soportesae@aragon.es">soportesae@aragon.es</a></p>
      <br/>
    </div>
  </main>
</body>

<desy-footer>
  <desy-footer-meta>
    <desy-content>
      Creado por <a href="https://sda.aragon.es/" class="c-link c-link--neutral">SDA Servicios Digitales de Aragón</a>
    </desy-content>
  </desy-footer-meta>
</desy-footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
